/* Menu decoration from w3c*/

.category{
    font-size:108%;
    font-weight:normal;
    font-style: normal;
    text-transform:uppercase;
    color: #333;
}
h3.category {
    background: #E7E6E6;
    text-shadow: 1px 1px 0 #fff;
    color: #347cb0;
    padding: 0 0px 0 0;
    width: 100%;
    position: relative;
    margin-top: 13px;
}
h2.category, .h2.category{
    background: #FCFBFB;
    text-shadow: 1px 1px 0 #fff;
    color: #347cb0;
    padding: 5px 11px 15px 10px;
    margin: 20px 0 3px 10px;
    font-weight: bold;
}
#w3c_home_member_testimonials h3 {padding: 0 20px;}
#w3c_home_sponsors p, #w3c_home_sponsors h3 { text-align: center; }
h3.category .ribbon{
    background: #E7E6E6;
    display: block;
    padding: 8px 5px 13px 20px;
}
h3.category a,
h2.category a,
.h2.category a {
    color: #17445F;
    font-weight: bold;
    border: none;
}

h3.category .ribbon{
    background: #E7E6E6;
    display: block;
    padding: 8px 5px 13px 20px;
}

/* theme list */
.theme{padding-top: 10px;}
.theme ul{display:none;}
.theme li.subhead ul{display:block;}
.theme li{border-bottom: 1px solid #ddd; }
.theme li.subhead{border-bottom:none; padding:5px 0 5px 5px;}
.theme a {display:block; overflow:hidden;font-weight: normal; padding: 5px 0 5px 5px;}
.theme a.current, .theme li.current a {background-color: #fff; border-bottom: none;}
.theme .icon{height:22px; width:22px; display:block; float:left; margin-right:10px; -moz-border-radius: 5px;}
.theme .devices .icon{background-position: -22px 0;}
.theme .arch .icon{background-position: -44px 0;}
.theme .design .icon{background-position: -66px 0;}
.theme .semantics .icon{background-position: -88px 0;}
.theme .services .icon{background-position: -110px 0;}
.theme .xml .icon{background-position: -132px 0;}
.theme .allspecs .icon{background-image: none;}
